<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Welcome to My MEAN Skeleton!</h1>
  <p class="lead">
    <img src="images/Skeleton_Skyrim.png" alt="Skeletor"><br>
    Leverage the bones to build greatness
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">This Doesn't Do Anything!</a></p>
</div>

<div class="row marketing">
  <!-- <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div> -->
</div>

<div class="footer">
  <div>Created By Daniel Liebeskind</div>
  <a href="http://www.startupdestiny.com">www.startupdestiny.com</a>
</div>
